{% extends "master.html" %}

{% block head %}
<style>
    BODY{
        max-width: 360px;
        margin: auto;
        margin-top: 3em;
    }
</style>
<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}

<h1>Statiounen bearbechtung</h1>
<h2><a href="{{url_for('index')}}">Zeréck op d'Haaptsäit</a></h2>
<br>
<br>

<h2>{{message}}</h2>

<br>
<form action="{{url_for('stat_form')}}" method="post">
    <table border="0" cellpadding="0" cellspacing="4">
        <tr>
            <td align="right">Statiounsnumm:</td>
            <td><input name="stat_name" type="text" size="30" maxlength="50"></td>
        </tr>
        <tr>
            <td align="right">Kontaktpersoun:</td>
            <td><input name="stat_contact" type="text" size="30" maxlength="50"></td>
        </tr>
        <tr>
            <td align="right">GSM Nummer:</td>
            <td><input name="stat_phone" type="text" size="9" maxlength="20"></td>
        </tr>
    </table>
    <input type="submit">
</form>

{% endblock %}

