{% extends "master.html" %}

{% block head %}
<style>
    BODY{
        max-width: 360px;
        margin: auto;
        margin-top: 3em;
    }
</style>
<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}

<h1>Gruppen bearbechtung</h1>
<h2><a href="{{url_for('index')}}">Zeréck op d'Haaptsäit</a></h2>
<br>
<br>

<h2>{{message}}</h2>

<br>
<form action="{{url_for('grp_form')}}" method="post">
    <table border="0" cellpadding="0" cellspacing="4">
        <tr>
            <td align="right">Gruppennumm:</td>
            <td><input name="grp_name" type="text" size="30"></td>
        </tr>
        <tr>
            <td align="right">Kontaktpersoun:</td>
            <td><input name="grp_contact" type="text" size="30"></td>
        </tr>
        <tr>
            <td align="right">GSM Nummer:</td>
            <td><input name="grp_tel" type="text" size="9" maxlength="9"></td>
        </tr>
        <tr>
            <td aligne="right">Richtung:</td>
            <td><input type="radio" name="grp_direction" value="0">Giel<br>
                <input type="radio" name="grp_direction" value="1">Blo
            </td>
        </tr>
    </table>
    <input type="submit">
</form>

{% endblock %}

