{% extends "master_narrow.html" %}

{% block head %}
<style>
    BODY{
        max-width: 360px;
        margin: auto;
        margin-top: 3em;
    }
</style>
<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}

<h1>Froebou bearbechtung</h1>
<h2><a href="{{url_for('index')}}">Zeréck op d'Haaptsäit</a></h2>
<br>
<br>

<h2>{{message}}</h2>

<br>
<form action="{{url_for('add_form')}}" method="post">
    <table border="0" cellpadding="0" cellspacing="4">
        <tr>
            <td align="right">Froebou Nummer:</td>
            <td><input name="form_id" type="text" size="2" maxlength="2"></td>
        </tr>
        <tr>
            <td align="right">Numm:</td>
            <td><input name="name" type="text" size="20" maxlength="20"></td>
        </tr>
        <tr>
            <td align="right">Maximal Pukten:</td>
            <td><input name="max_score" type="text" size="3" maxlength="3"></td>
        </tr>
    </table>
    <input type="submit">
</form>

<table border="1">
    <tr>
     <th>Nr.</th>
     <th>Numm</th>
     <th>Max Score</th>
    </tr>
{% for row in forms %}
    <tr>
        <td aligne="right">{{row.id}}</td>
        <td aligne="right">{{row.name}}</td>
        <td aligne="right">{{row.max_score}}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}

