{% extends "master.html" %}

{% block head %}
<style>
    BODY{
        max-width: 360px;
        margin: auto;
        margin-top: 3em;
    }
</style>
<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}

<h1>Gruppen bearbechtung</h1>
<h2><a href="{{url_for('index')}}">Zeréck op d'Haaptsäit</a></h2>
<br>
<br>

<h2>{{message}}</h2>

<br>
<form action="{{url_for('grp_form')}}" method="post">
    <table border="0" cellpadding="0" cellspacing="4">
        <tr>
            <td align="right">Gruppennumm:</td>
            <td><input name="grp_name" type="text" size="30" maxlength="50"></td>
        </tr>
        <tr>
            <td align="right">Kontaktpersoun:</td>
            <td><input name="grp_contact" type="text" size="30" maxlength="50"></td>
        </tr>
        <tr>
            <td align="right">GSM Nummer:</td>
            <td><input name="grp_tel" type="text" size="9" maxlength="20"></td>
        </tr>
        <tr>
            <td aligne="right">Richtung:</td>
            <td><input type="radio" name="grp_direction" value="{{DIR_B}}">Roud<br>
                <input type="radio" name="grp_direction" value="{{DIR_A}}">Giel
            </td>
        </tr>
        <tr>
            <td aligne="right">Startzäit:</td>
            <td><input type="text" name="grp_start" size="5" maxlength="5">
    </table>
    <input type="submit">
</form>

<table border="1">
    <tr>
        <th>Gruppennumm</th>
        <th>Kontakt</th>
        <th>GSM</th>
        <th>Richtung</th>
        <th>Startzäit</th>
    </tr>
{% for row in groups %}
    <tr>
        <td aligne="right">{{row.name}}</td>
        <td aligne="right">{{row.contact}}</td>
        <td aligne="right">{{row.phone}}</td>
        <td aligne="right">{{row.direction}}</td>
        <td aligne="right">{{row.start_time}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}

