{% extends "master_narrow.html" %}
{% block title %}{{_('Edit Group')}}{% endblock %}
{% block content %}
<h1>{{group.name}}&nbsp;<small><a href="{{url_for('group.show_comments', id=group.id)}}" title="{{group.messages|count}} messages"><i class="fa fa-comments"></i></a></small></h1>
{% if group.user.id != current_user.id %}
  <div style="text-align: center;">
    {{ avatar(group.user, 100) }}<br /><br />
    {{group.user.name}}
  </div>
  <hr />
{% endif %}
{% if not Setting.get('registration_open', False) and not current_user.has_role(Role.ADMIN) %}
  <p class="admonition note">
    {{_("Registration is <strong>closed</strong>! Changes to the number of people in the team are not possible at this time!")}}
  </p>
{% endif %}
<form id="group_edit" action="{{url_for('group.save_info', id=group.id)}}" method="POST">
  <fieldset>
    <legend>{{_('Group Infos')}}</legend>
    <input type="hidden" name="id" value="{{group.id}}" />
    <input type="hidden" name="intent" value="{{'accept' if current_user.has_role(Role.ADMIN) else 'update'}}" />
    <dl>
      <dt>{{_('Name')}}</dt>
      <dd><input type="text" name="name" value="{{group.name}}" /></dd>
      <dt>{{_('Contact')}}</dt>
      <dd><input type="text" name="contact" value="{{group.contact}}" /></dd>
      <dt>{{_('Email')}}</dt>
      <dd><input type="email" name="email" value="{{group.email}}" /></dd>
      <dt>{{_('Phone')}}</dt>
      <dd><input type="text" name="phone" value="{{group.phone}}" /></dd>
      <dt>{{_('Total number of participants (including vegetarians)')}}</dt>
      <dd><input
        {{ 'disabled="disabled"' if not Setting.get('registration_open', False) and not current_user.has_role(Role.ADMIN) }}
        type="number"
        min="0"
        step="1"
        name="num_participants"
        value="{{group.num_participants}}" /></dd>
      <dt>{{_('Number of vegetarians')}}</dt>
      <dd><input
        {{ 'disabled="disabled"' if not Setting.get('registration_open', False) and not current_user.has_role(Role.ADMIN) }}
        type="number"
        min="0"
        step="1"
        name="num_vegetarians"
        value="{{group.num_vegetarians}}" /></dd>
      {% if current_user.has_role(Role.ADMIN) %}
        <dt>{{_('Direction')}}</dt>
        <dd>
          <select name="direction">
            <option value="{{dir_a}}" disabled {{'selected' if group.direction not in (dir_a, dir_b)}}>{{_('Direction')}}</option>
            <option value="{{dir_a}}" {{'selected' if group.direction == dir_a}}>{{dir_a}}</option>
            <option value="{{dir_b}}" {{'selected' if group.direction == dir_b}}>{{dir_b}}</option>
          </select>
        </dd>
        <dt>{{_('Starting Time')}}</dt>
        <dd><input type="text" name="start_time" value="{{group.start_time}}"/></dd>
        <dt>{{_('Flags')}}</dt>
        <dd><input type="checkbox" {{'checked' if group.accepted else ''}} id="accepted" name="accepted" value="true" /><label for="accepted">{{_('Group registration has been accepted')}}</label></dd>
        <dd><input type="checkbox" {{'checked' if group.cancelled else ''}} id="cancelled" name="cancelled" value="true" /><label for="cancelled">{{_('Group has cancelled')}}</label></dd>
        <dd><input type="checkbox" {{'checked' if group.completed else ''}} id="completed" name="completed" value="true" /><label for="completed">{{_('Group has completed')}}</label></dd>
      {% endif %}
      <dt>{{_('Comments')}}</dt>
      <dd><textarea name="comments" rows="10">{{group.comments}}</textarea></dd>
      {% if current_user.has_role(Role.ADMIN) %}
        <dt>{{_('Options')}}</dt>
        <dd><input type="checkbox" checked id="send_email" name="send_email" value="true" /><label for="send_email">{{_('Send e-mail to the group about the changes.')}}</label></dd>
      {% endif %}
    </dl>
    <input type="submit" value="Save" />
  </fieldset>
</form>
{% endblock %}
