{% extends "master_narrow.html" %}

{% block title %}{{_('Pictures')}}{% endblock %}

{% block content %}

{% if not galleries %}
  <p class="note">{{_('Nothing here yet')}}</p>
{% endif %}

{% for gallery in galleries %}
  {% if gallery['photos'] %}
    <h2>{{gallery['title']}}</h2>
    {% for photo in gallery['photos'] %}
      <a href="{{photo.fullsize_url}}"><img src="{{photo.thumbnail_url}}" /></a>
    {% endfor %}
  {% else %}
    <p class="note">{{_('Nothing here yet')}}</p>
  {% endif %}
{% endfor %}

{% endblock %}
