{% extends "master_narrow.html" %}

{% block title %}{{_('Photo Gallery')}}{% endblock %}

{% block content %}

{% if gallery['photos'] %}
  <h2>{{gallery['title']}}</h2>
  {% for photo in gallery['photos'] %}
    <a href="http://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_b.jpg"><img
      src="http://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg" /></a>
  {% endfor %}
{% else %}
  <p class="note">{{_('Nothing here yet')}}</p>
{% endif %}

{% endblock %}
