{% if not group %}
_('Group not found in DB!')
{% else %}
<h1>{{group.name}}</h1>
<table border="0" cellspacing="0" cellpadding="0">
  <tr><th>{{_('Contact')}}</td><td>{{group.contact}}</td></td>
  <tr><th>{{_('Phone')}}</td><td>{{group.phone}}</td></td>
  <tr><th>{{_('Direction')}}</td><td>{{group.direction}}</td></td>
  <tr><th>{{_('Starting Time')}}</td><td>{{group.start_time}}</td></td>
  <tr><th>{{_('Status')}}</th><td>{{group.cancelled and _('Cancelled') or _('Active')}}</td></tr>
</table>
{# TODO will only work after the DB field exists
Send e-mail: <a href="mailto:{{group.email}}"><img valign="middle" src="/static/icons/email.png" /></a><br />
#}
{% endif %}
