{% extends "master_wide.html" %}
{% block title %}{{_('Group List')}}{% endblock %}
{% block content %}

<table id="grouplist">
  <thead>
    <tr>
      <th>{{_("Group")}}</th>
      <th>{{_("Registration Date")}}</th>
      <th>{{_("Start Time")}}</th>
      <th>{{_("Direction")}}</th>
      <th>{{_("Accept Registration")}}</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups -%}
    <tr>
      <td
        class="{{'finalized' if group.finalized else 'confirmed' if group.is_confirmed else ''}}"
        data-group_id="{{group.id}}"><a href="{{url_for('group.edit', name=group.name)}}">{{group.name}}</a></td>
      <td>{{group.inserted.strftime('%Y-%m-%d %H:%M')}}</td>
      <td>{{group.start_time|default('', true)}}</td>
      <td>{{group.direction|default('', true)}}</td>
      {% if group.confirmation_key and not group.finalized %}
        <td><a href="{{url_for('registration.accept', key=group.confirmation_key)}}">{{group.confirmation_key}}</a></td>
      {% else %}
        <td><i class="fa fa-check"></i></td>
      {% endif %}
    </tr>
    {%- endfor %}
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  new lost_tracker.GroupList('grouplist');
</script>

{% endblock %}
