{% extends "master_narrow.html" %}
{% block content %}
    <h1>{{_("How does this work?")}}</h1>
    <h2>{{_("Has the team already arrived? Did they finish finished?")}}</h2>
    {{_("Click the image on the left to change this.")}}
    <ul>
      <li>{{_("Grey circle: Team has not yet arrived.")}}</li>
      <li>{{_("Clock: The team has arrived.")}}</li>
      <li>{{_("Green circle: The team has finished.")}}</li>
    </ul>
    <h2>{{_("Score")}}</h2>
    {{_("There are two fields to enter scores: For the game and for the "
    "questionnaire. You can select a different questionnaire if necessary.")}}

    <h2>{{_("Hint")}}</h2>
    {{_("Teams are ordered like this:")}}
    <ul>
      <li>{{_("Teams that have arrived (clock symbol) are shown first.")}}</li>
      <li>{{_("Next are the teams that have not yet arrived at the station.")}}</li>
      <li>{{_("Lastly, there are the teams that have finished this station.")}}</li>
    </ul>

    {{_("To re-order the list, refresh the page.")}}
{% endblock %}
