{% extends "master_narrow.html" %}
{% block content %}
    <h1>Wéi geht dat hei?!?</h1>
    <h2>Ass d'Grupp ukomm? Schonns färdeg?</h2>
    Mat dem Bild op der lénker Säit kann een wiesslen.
    <ul>
        <li>Gro: d'Grupp ass nach net ukomm</li>
        <li>Giel (Auer): d'Grupp ass ukomm</li>
        <li>Gréng: d'Grupp ass färdeg.</li>
    </ul>
    <h2>Punkten</h2>
    D'Punkten vum Posten sin duergestallt mat dem Pärd. D'Punkten vum Frobou
    mat Blat an Bläistëft. Fir d'Punkten anzedron, muss een als éischt den
    Frobou auswielen, duerno d'Punkten aschreiwen an OK drécken.

    <h2>Tip</h2>
    Gruppen sin esou zortéiert:
    <ul>
        <li>Gruppen déi ukomm sin (giel Auer) gin als éischt ugewisen.</li>
        <li>Duerno kommen d'Gruppen déi nach nët um Posten ukomm sin</li>
        <li>Als lescht kommen d'Gruppen déi färdeg an fort sin.</li>
    </ul>

    Leider get déi Zortéirung just nei lafen gelos, wann een en "refresh" vun
    der Säit mecht.
{% endblock %}
