{% extends "master_narrow.html" %}

{% block content %}
<h1>Wat ass dat?</h1>

<div class="col-group">
  <div>
    E Nuetsrallye.<br />
    Dobaussen an der Däischtert.<br />
    Spiller.<br />
    Rätselen.<br />
    Onméiglech Aufgaben.<br />
    Net ze verpassen.
  </div>

  <div>
    Organiséiert vun de <br />
    Caper Piwitschen <br />
    a <br />
    Mamer Wiselen<br />
    Scouten a Guiden vun der FNEL
  </div>
</div>

<p>
Et ass fir jiddereen, dee Loscht huet an der Nuecht dobaussen ze sinn, deen 
einegermoossen gudd zefouss ass a keng Angscht huet, mol eng Kéier 3 Stonnen ze 
spéit heemzekommen, well en sech verlaf huet ;)
</p>
{% endblock %}
