{% extends "master_narrow.html" %}

{% block title %}{{_('Front Page')}}{% endblock %}

{% block content %}
{% if registration_open %}
  <div class="admonition note">
    {{_('Registration is <strong>open</strong>! <a href="{url}">Register now!</a>').format(url=url_for('register'))}}
    <hr />
    {{_('It may take a few days until your registration is accepted. Please be patient!')}}
  </div>
{% endif %}


<h1>{{_("Thanks to anyone who participated")}}</h1>
<h2>{{_("The winners are")}}</h2>
<hr />
<h2>1. Targaryens</h2>
<h3>2. CS2</h3>
<h4>3. Ärkfullyräbby</h4>
<h4>4. Deckelsmouken (Linda, Scouten)</h4>
<hr />

<p>{{_("Each of them will receive a price and will be contacted by phone")}}</p>

<p><a href="{{url_for('scoreboard')}}">{{_("Complete leaderboard")}}</a>

<hr />

<h1>{{_("What is this?")}}</h1>

<div class="col-group">
  <div>
    {{_("A 'Night Rallye'.<br /> Outside in the darkness<br /> Games."
    "<br />Riddles.<br /> Impossible tasks.<br /> Not to be missed.")}}
  </div>

  <div>
    {{_("Organised by <br /> Caper Piwitschen <br /> and <br /> Mamer "
    "Wiselen<br /> Scouten a Guiden vun der FNEL")}}
  </div>
</div>

<p>
{{_("Everybody who likes to spend a night outside, who's fairly well on foot "
"and who does not mind getting home 3 hours late because they got lost may join "
":)")}}
</p>
{% endblock %}
