{% extends "public_master.html" %}

{% block content %}
<h1 id="time_slots">Time Slots</h1>
<table id='time_slots_table' border="1" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Slot</th>
      <th>Direction A</th>
      <th>Direction B</th>
    </tr>
  </thead>
  <tbody>
    {% for slot in slots %}
    <tr>
      <td>{{ slot.time }}</td>
      <td contenteditable="true">{{ groups_a[slot] }}</td>
      <td contenteditable="true">{{ groups_b[slot] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1 id="unassigned_groups">Unassigned Groups</h1>
<table id="unassigned_groups_table" border="1" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Group Name</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups_none %}
    <tr>
      <td>{{ group.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript" charset="utf-8">
  new lost_tracker.SlotEditor('time_slots_table', 'unassigned_groups_table');
</script>
{% endblock %}
