{% extends "master.html" %}

{% macro seclink(role, href, text) %}
  {% if current_user.has_role(role) %}
    <a href="{{href}}">{{text}}</a>
  {% endif %}
{% endmacro %}

{% macro avatar(user, size) -%}
  {% if user and user.social_connections and user.social_connections[0].image_url -%}
    <img align="middle" width="{{size}}" height="{{size}}" class="avatar" src="{{user.social_connections[0].image_url}}" alt="Avatar" />
  {%- else -%}
    <img align="middle" width="{{size}}" height="{{size}}" class="avatar" src="{{url_for('static', filename='images/generic_avatar.png')}}" alt="Avatar" />
  {%- endif %}
{%- endmacro %}


{% block mainmenu %}
    <div id="menu">
      <span id="#mainmenu">
        <a href="{{url_for('root.index')}}"><strong>Lost.lu</strong></a> |
        <a href="{{url_for('root.where')}}">{{_('Where is this?')}}</a> |
        {% if registration_open or current_user.has_role(Role.ADMIN) %}
          <a href="{{url_for('registration.new')}}">{{_('Register')}}</a> |
        {% endif %}
        <a href="{{url_for('photo.gallery')}}">{{_('Pictures')}}</a> |
        <a href="{{url_for('root.scoreboard')}}">{{_('Scoreboard')}}</a> |
        <a href="{{url_for('root.misc')}}">{{_('Anything else?')}}</a>
      </span>

      <span id="flags">
        <a href="{{request.path}}?lang=en"><img src="{{url_for('static', filename='flags/gb.png')}}" /></a>&nbsp;
        <a href="{{request.path}}?lang=de"><img src="{{url_for('static', filename='flags/de.png')}}" /></a>&nbsp;
        <a href="{{request.path}}?lang=lb"><img src="{{url_for('static', filename='flags/lu.png')}}" /></a>
      </span>

      <span id="auth">
        {% if current_user.is_authenticated %}
          {{_('Logged in as:')}} <a href="{{url_for('root.profile')}}">{{avatar(current_user, 20)}}</a>&nbsp;<a href="{{url_for('root.profile')}}">{{current_user.name}}</a> |
          <a href="{{url_for('root.matrix')}}">{{_('Matrix')}}</a> |
          {{ seclink(Role.ADMIN, url_for('root.slot_editor'), _('Slot Editor')) }} |
          {{ seclink(Role.ADMIN, url_for('group.list'), _('Manage Groups'))}} |
          {{ seclink(Role.ADMIN, url_for('root.settings'), _('Settings'))}} |
          <a href="{{url_for('security.logout')}}">{{_('Logout')}}</a>
        {% else %}
          <a href="{{url_for('security.login')}}">{{_('Login')}}</a>
        {% endif %}
      </span>
    </div>
{% endblock %}

{% block logo %}
      {% if not disable_logo %}
        <div id="logo">
          <img src="{{url_for('static', filename='images/logo2014.png')}}" />
          {% if Setting.get('shout', default=None) %}
            <h2>{{Setting.get('shout')}}</h2>
          {% endif %}
        </div>
      {% endif %}

      {% if date_display %}<h1>{{date_display}}</h1>{% endif %}
      {% if location_display %}<h2>{{location_display}}</h2>{% endif %}

      {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          <div id="flashes">
              {% for category, message in messages %}
                  <div class="{{category}}">{{ message }}</div>
              {% endfor %}
          </div>
          {% endif %}
      {% endwith %}
{% endblock %}
