{% extends "master_wide.html" %}

{% block title %}{{_('Matrix')}}{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="60" />
{% endblock %}

{% block content %}
<table id="Matrix" border="0">
    <thead>
      <tr>
          <th>&nbsp;</th>
          {% for row in stations %}
          <th><a href="{{url_for('station', name=row.name)}}">{{row.name}}</a></th>
          {% endfor %}
      </tr>
      <tr class="sum">
          <td>{{_('SUM')}}</td>
          {% for col in sums %}
          <td>
              <span class="unknown">{{col[0]}}</span>
              <span class="arrived">{{col[1]}}</span>
              <span class="finished">{{col[2]}}</span>
          </td>
          {% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr class="sum">
          <td>SUM</td>
          {% for col in sums %}
          <td>
              <span class="unknown">{{col[0]}}</span>
              <span class="arrived">{{col[1]}}</span>
              <span class="finished">{{col[2]}}</span>
          </td>
          {% endfor %}
      </tr>
    </tfoot>
    <tbody>
      {% for row in matrix %}
      <tr class="{{row[0].cancelled and 'cancelled' or ''}}">
          <td class="group">{{row[0].name}}</td>
          {% for col in row[1:] %}
            {% set icon_file = 'icons/%s.png' % (col and col.state or '0') %}
            <td class="state state{{col.state|default('0')}}"><img
              src="{{url_for('static', filename=icon_file)}}"
              width="16"
              height="16" /></td>
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
</table>
<script type="text/javascript">lost_tracker.app.drawSums()</script>

{% endblock %}
