<html>
    <body>
        <table border=1>
            <tr>
                <td>&nbsp;</td>
            {% for row in stations %}
            <td><a href="/station/{{row.name.encode('base64')}}">{{row.name}}</a></td>
            {% endfor %}
            </tr>
            {% for row in matrix %}
            <tr>
                <td>{{row[0].name}}</td>
            {% for col in row[1:] %}
            <td><img src="/static/icons/{{col and col[0][0] or '0'}}.png" /></td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
