{% extends "master_narrow.html" %}

{% block content %}
<h2>{{_("Messages for")}} {{group.name}}</h2>
{% for message in group.messages %}
  <div class="message-row">
    <span class="message-image">{{avatar(message.user, 40)}}</span>
    <span class="message-time"><i class="fa fa-clock-o"></i> {{message.inserted|humantime}}</span>
    <span class="message-content">{{message.content|md|safe}}</span>
    <br clear="both" />
  </div>
{% else %}
  {{_("No messages")}}
{% endfor %}

<hr />
<h2>{{_("Add Message")}}</h2>
<form action="{{url_for('comment.add')}}" method="POST">
  <input type="hidden" name="group_id" value="{{group.id}}" />
  <textarea name="content" rows="10" cols="70"></textarea><br />
  <small>{{_('For text formatting use <a href="https://daringfireball.net/projects/markdown/basics">markdown</a> (<a href="https://en.wikipedia.org/wiki/Markdown">Wikipedia</a>, <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheatsheet</a>)')}}</small>
  <br /><br /><br />
  <input type="submit" value={{_("Save")}} />
</form>


{% endblock %}
