{% extends "master_narrow.html" %}

{% block content %}
<h1>Soss nach?</h1>

<p>Et kascht tëschent 7 an 9€ pro Persoun.</p>

<p>Mir verkafen um Depart an ënnerwee Gedrénks a Gegrills.</p>

<p>
  Mir maachen dësen Nuetsrallye, well et eis Spaass mécht! Sot eis är Meenung,
  a besicht och eis Facebook-Säit: <a
    href="https://www.facebook.com/pages/Lost-in-the-Darkness/320383008025958#">Lost
    in the Darkness op Facebook</a>
</p>

<p>
  Alles, wat mir fir den Nuetsrallye u Suen erakréien, gëtt integral un d’ONGD FNEL gespent!
</p>

<p>
  Am Joer 2012 sinn esou 2324€ zesumme komm!<br />
  (An <a href="http://www.mywort.lu/mamer/25911580.html">d’Gemeng Mamer huet 
    nach eng Kéier 1000€ dropgeluecht!)</a>
</p>

<img src="{{url_for('static', filename='images/gruppefoto.jpg')}}" />

{% endblock %}
