{% extends "master.html" %}

{% block head %}
<style>
    BODY{
        max-width: 360px;
        margin: auto;
        margin-top: 3em;
        background-color: #000000;
        font-weight: bold;
        font-family: Helvetica;
        font-size: 1.3em;
        color: #ffffaa;
    }

    #contact {
        display: none;
    }
</style>

<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}
<img src="{{url_for('static', filename='icons/lost_aen.png')}}">
<h1 style="color:#FFFF00; text-shadow:red 1px 1px" >Ranglescht</h1>

<br>
<table border="0" width="100%">
    <tr>
        <th align="left">Pos.</th>
        <th align="left">Gruppennumm</th>
        <th align="left">Punkten</th>
    </tr>
    {% for row in scores %}
    <tr>
        <td align="left">{{row[0]}}</td>
        <td align="left">{{row[1]}}</td>
        <td align="left">{{row[2]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

