{% extends "master.html" %}

{% block title %}{{_('Scoreboard')}}{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}
<h1>{{_("Scoreboard")}}</h1>
<h3>({{_("Current score")}})</h3>

<br>
<table id="scoreboard" border="0" width="100%">
    {% for row in scores %}
    <tr class="{{'completed' if row[4] else ''}} position_{{row[0]}}">
        <td class="position">{{row[0]}}</td>
        <td class="name">{{row[1]}}</td>
        <td class="score">{{row[2]}}</td>
        <td class="ppm">{{'%3.2f' % row[3]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
