{% extends "master_narrow.html" %}

{% block head %}
<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}
<div id="logo">
  <img src="{{url_for('static', filename='images/logo2014.png')}}" />
</div>
<h1>Ranglescht</h1>
<h3>(Momentanen Stand)</h3>

<br>
<table border="0" width="100%">
    <tr>
        <th align="left">Pos.</th>
        <th align="left">Gruppennumm</th>
        <th align="left">Punkten</th>
    </tr>
    {% for row in scores %}
    <tr>
        <td align="left">{{row[0]}}</td>
        <td align="left">{{row[1]}}</td>
        <td align="left">{{row[2]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

