{% extends "master_narrow.html" %}

{% macro group_select(name, selected_id) %}
<select name="{{name}}">
  <option value="0">---</option>
  {% for group in groups %}
  <option {{'selected' if selected_id == group.id else ''}} value="{{group.id}}">{{group.name}}</option>
  {% endfor %}
</select>
{% endmacro %}

{% block title %}{{_('Settings')}}{% endblock %}

{% block content %}

<h1>{{_("Application Settings")}}</h1>

<form action="{{url_for('root.settings')}}" method="POST">
<fieldset>
  <legend>{{_("Global")}}</legend>
  <dl>
    <dt>Registration open?</dt>
    <dd><input type="checkbox" name="registration_open" {{'checked' if settings.registration_open else ''}} /></dd>
    <dt>Shout</dt>
    <dd><input type="text" name="shout" value="{{settings.shout or ''}}" /></dd>
    <dt>Helpdesk</dt>
    <dd><input type="text" name="helpdesk" value="{{settings.helpdesk or ''}}" /></dd>
    <dt>Event Date</dt>
    <dd><input type="text" name="event_date" value="{{settings.event_date or ''}}" /></dd>
    <dt>Location Name</dt>
    <dd><input type="text" name="event_location" value="{{settings.event_location or ''}}" /></dd>
    <dt>Location</dt>
    <dd><input type="text" name="location_coords" value="{{settings.location_coords or ''}}" /></dd>
  </dl>
</fieldset>
<fieldset>
  <div class="admonition note">
    {{_("If these values are <em>all</em> set, the winners will be displayed on the start-page!")}}
  </div>
  <legend>{{_("Winners")}}</legend>
  <dl>
    <dt>{{_("1<sup>st</sup> place")}}</dt>
    <dd>{{ group_select("first_place", first_place)}}</dd>
    <dt>{{_("2<sup>nd</sup> place")}}</dt>
    <dd>{{ group_select("second_place", second_place)}}</dd>
    <dt>{{_("3<sup>rd</sup> place")}}</dt>
    <dd>{{ group_select("third_place", third_place)}}</dd>
  </dl>
</fieldset>
<input type="submit" value="{{_('Save')}}" />
</form>

{% endblock %}
