{% extends "master_narrow.html" %}

{% block title %}{{_('Settings')}}{% endblock %}

{% block content %}

<h1>{{_("Application Settings")}}</h1>

<form action="{{url_for('settings')}}" method="POST">
<fieldset>
  <legend>{{_("Global")}}</legend>
  <dl>
    <dt>Registration open?</dt>
    <dd><input type="checkbox" name="registration_open" {{'checked' if settings.registration_open else ''}} /></dd>
    <dt>Shout</dt>
    <dd><input type="text" name="shout" value="{{settings.shout or ''}}" /></dd>
    <dt>Helpdesk</dt>
    <dd><input type="text" name="helpdesk" value="{{settings.helpdesk or ''}}" /></dd>
    <dt>Event Date</dt>
    <dd><input type="text" name="event_date" value="{{settings.event_date or ''}}" /></dd>
  </dl>
  <input type="submit" value="{{_('Save')}}" />
</fieldset>
</form>

{% endblock %}
