{% extends "master.html" %}

{% block content %}

<h1>{{station.name}}</h1>
<h2><a href="{{url_for('index')}}">Zeréck op d'Haaptsäit</a></h2>

{% for row in group_states %}
<div class="group group state_{{row.state}} {{row.group.cancelled and 'cancelled' or ''}}">
    {% set icon_file = 'icons/%s.png' % row.state %}
    <img class="icon" id="icon_{{station.id}}_{{row.group.id}}" src="{{url_for('static', filename=icon_file)}}" />
    <div class="details">
        <div class="name">{{row.group.name}}</div>
        <div>
            <form action="{{url_for('set_station_score')}}" method="POST">
                <p style="display: none;"><input type="hidden" name="station_id"
                    value="{{station.id}}" /></p>
                <p style="display: none;"><input type="hidden" name="group_id"
                    value="{{row.group.id}}" /></p>
                <div>
                  <img src="{{url_for('static', filename='icons/game.png')}}"
                    height="64"
                    style="vertical-align: middle;" /><input
                      type="number"
                      placeholder="#"
                      min="0"
                      max="100"
                      step="10"
                      name="station_score" />
                </div>
                <div>
                  <select name="form_id">
                    <option selected="selected"
                        disabled="disabled">Frobou</option>
                    {% for quest in questionnaires %}
                      <option value="{{quest.id}}">
                        {{quest.id}}: {{quest.name}} (0-{{quest.max_score}})
                      </option>
                    {% endfor %}
                  </select>
                  <br />
                  <img src="{{url_for('static', filename='icons/questionnaire.png')}}"
                    height="64"
                    style="vertical-align: middle;" />
                  <input
                    type="number"
                    placeholder="#"
                    name="form_score" />
                </div>
                <input type="submit" value="OK" />
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script type="text/javascript">
  lost_tracker.app.attachEvents({{station.id}});
</script>
{% endblock %}
