{% extends "master.html" %}

{% block head %}
<meta http-equiv="refresh" content="300" />
{% endblock %}

{% block content %}

<h1>{{station.name}}</h1>
<h2><a href="{{url_for('index')}}">Zeréck op d'Haaptsäit</a></h2>

{% for row in group_states %}
<div class="group state_{{row.state}} {{row.group.cancelled and 'cancelled' or ''}}">
    <div class="icon">
        {% set icon_file = 'icons/%s.png' % row.state %}
        <img id="icon_{{station.id}}_{{row.group.id}}" src="{{url_for('static', filename=icon_file)}}" />
    </div>
    <div class="details">
        <div class="name" onclick="lost_tracker.app.advanceState(this,
          {{row.group.id}}, {{station.id}});">
            {{row.group.name}}
        </div>
        <div>
            <input type="number" name="score" />
            <input type="number" name="forobou" />
            <input type="submit" value="OK" />
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
