{% extends "master.html" %}

{% macro render_empty_cell(col) -%}
  {% if col.type.__class__.__name__ == 'Boolean' -%}
    <td><input
      class="tabularcell"
      data-cell-name="{{col.name}}"
      data-current-value="false"
      type="checkbox" /></td>
  {% else %}
    <td
      class="tabularcell"
      data-cell-name="{{col.name}}"
      data-current-value=""></td>
  {%- endif %}
{%- endmacro %}

{% macro render_cell(cell) -%}
  {% if cell.value -%}
    {% if cell.type == 'boolean' -%}
      <td><input
        class="tabularcell"
        data-cell-name="{{cell.name}}"
        data-current-value="{{'true' if cell.value else 'false' }}"
        type="checkbox" {{'checked' if cell.value else ''}} /></td>
    {% else %}
      <td
        class="tabularcell"
        data-cell-name="{{cell.name}}"
        data-current-value="{{cell.value}}">{{cell.value}}</td>
    {%- endif %}
  {% else %}
    {% if cell.type == 'boolean' -%}
      <td><input
        class="tabularcell"
        data-cell-name="{{cell.name}}"
        data-current-value="{{'true' if cell.value else 'false' }}"
        type="checkbox" {{'checked' if cell.value else ''}} /></td>
    {% else %}
      <td
        class="tabularcell"
        data-cell-name="{{cell.name}}"
        data-current-value=""></td>
    {%- endif %}
  {%- endif %}
{%- endmacro %}

{% block submenu -%}
  <a href="{{url_for('tabularadmin', table='group')}}">Groups</a>&nbsp;|&nbsp;
  <a href="{{url_for('tabularadmin', table='station')}}">Stations</a>&nbsp;|&nbsp;
  <a href="{{url_for('tabularadmin', table='form')}}">Forms</a>
{%- endblock %}


{% block content_wrapper %}

<table id="tabular" data-name="{{clsname}}">
  <thead>
    <tr>
      <th>Ops</th>
      {% for col in columns -%}
      <th>{{col.name}}</th>
      {%- endfor %}
    </tr>
  </thead>
  <tbody>
    {% for key, cols in data -%}
    <tr {{key|xmlattr}}>
      <td><img class="delete_icon clickable" src="{{url_for('static', filename='icons/delete.png')}}"
        width="16"
        height="16" /></td>
      {% for cell in cols -%}
        {{ render_cell(cell) }}
      {%- endfor %}
    </tr>
    {%- endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td><img class="save_icon clickable" src="{{url_for('static', filename='icons/save.png')}}"
        width="16"
        height="16"/></td>
      {% for col in columns -%}
        {{ render_empty_cell(col) }}
      {%- endfor %}
    </tr>
  </tfoot>
</table>

<script type="text/javascript" charset="utf-8">
  new lost_tracker.Tabulator("tabular");
</script>

{% endblock %}
