{% extends "master_narrow.html" %}

{% block title %}{{_('Where is this?')}}{% endblock %}

{% block content %}
<h1>{{_("Where is this?")}}</h1>

{% if location_display %}
  <p>{{_("Departure and registration location:")}} {{location_display}}</p>
  <iframe
    id="location_map"
    width="600"
    height="450"
    frameborder="0"
    style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q={{location_coords}}&key=AIzaSyBhTmrrEiXXxGGdr5je73uZphZElHNxyac"></iframe>
{% else %}
  <p>{{_("No location defined yet!")}}</p>
{% endif %}

{% endblock %}
