[meta]
version=1.1

[db]
; Database connection string
dsn=postgresql://postgres@/lost_tracker

[app]
helpdesk = Message to stations
registration_open = False
photo_folder = /path/to/folder

; A secondary title which is visible on each page.
shout = 28. Mee 2014

[flickr]
api_key=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
photoset_id=72157642905812775

[devserver]
; Dev server listens on device ...
listen=0.0.0.0
; ... and port
port=5000
; Enable/Disable debugging mode.
debug=True
