[meta]
version=2.0

[db]
; Database connection string
dsn=postgresql://postgres@/lost_tracker

[app]
photo_folder = /path/to/folder
registration_open = true
login = lost
password = lost
secret_key = this-is-not-secret! use os.random to generate random bits!

[flickr]
api_key=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
photoset_id=72157642905812775

[devserver]
; Dev server listens on device ...
listen=0.0.0.0
; ... and port
port=5000
; Enable/Disable debugging mode.
debug=True
