{% extends "master_wide.html" %}
{% block title %}{{_('Group List')}}{% endblock %}
{% block content %}

<table id="grouplist">
  <thead>
    <tr>
      <th colspan="3">{{_("Group")}}</th>
      <th>{{_("Registration Date")}}</th>
      <th>{{_("Start Time")}}</th>
      <th>{{_("Direction")}}</th>
      <th>{{_("Accept Registration")}}</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups -%}
    <tr>
      <td>
        {% if current_user.has_role(Role.ADMIN) %}
          <a href="{{url_for('group.delete', id=group.id)}}"><i class="fa fa-trash" title="{{_("Delete Group")}}"></i></a>
        {% endif %}
      </td>
      <td
        class="{{'accepted' if group.accepted else 'confirmed' if group.is_confirmed else ''}}"
        data-group_id="{{group.id}}"><a href="{{url_for('group.edit', name=group.name)}}">{{group.name}}</a></td>
      <td><a href="{{url_for('group.show_comments', id=group.id)}}"><i class="fa fa-comments">&nbsp;<sup>{{group.messages|count}}</sup></i></a></td>
      <td>{{group.inserted.strftime('%Y-%m-%d %H:%M')}}</td>
      <td>{{group.start_time|default('', true)}}</td>
      <td>{{group.direction|default('', true)}}</td>
      {% if group.confirmation_key and not group.accepted %}
        <td><a href="{{url_for('registration.accept', key=group.confirmation_key)}}">{{group.confirmation_key}}</a></td>
      {% else %}
        <td><i class="fa fa-check"></i></td>
      {% endif %}
    </tr>
    {%- endfor %}
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  new lost_tracker.GroupList('grouplist');
</script>

{% endblock %}
