{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends "master_narrow.html" %}

{% block title %}{{_('Login')}}{% endblock %}

{% macro social_login(provider_id, display_name) %}
<form class="inline-form" action="{{url_for('social.login', provider_id=provider_id)}}" method="POST">
  <span class="login-button clickable fa-stack fa-lg" title="{{_("Log in with %s").format(display_name)}}" data-provider-id="{{provider_id}}">
    <i class="fa fa-{{provider_id}} fa-stack-1x"></i>
    <i class="fa fa-square-o fa-stack-2x"></i>
  </span>
</form>
{% endmacro %}

{% block content %}
  <h1>{{_('Login')}}</h1>
  {% include "security/_menu.html" %}
  {# TODO (TOS & Priv Pol) {{ social_login('twitter', 'Twitter' )}} #}
  {{ social_login('facebook', 'Facebook' )}}
  {{ social_login('google', 'Google' )}}
  <hr />
  {{ mdtemplate("why_no_local_user.md") }}
  <script type="text/javascript" charset="utf-8">
    new lost_tracker.SocialPage();
  </script>
{% endblock %}
