BODY{
    margin: 0;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
}

DIV.group{
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.3);
    line-height: 2em;
    padding: 1em 0.5em;
    -webkit-box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.3);
}

DIV.group INPUT {
    width: 3em;
    font-size: 2em;
    vertical-align: middle;
}

DIV.group INPUT[type="submit"],
DIV.group SELECT {
  width: 100%;
  font-size: 2em;
}

DIV.group .icon {
    float: left;
    width: 5em;
    margin-right: 1em;
}

DIV.group .details {
    overflow: auto;
    border-left: 1px solid black;
    padding-left: 0.5em;
}

DIV.group .name{
    font-size: 1.2em;
    padding: 0 0.5em;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-left: -0.5em;
    margin-bottom: 0.5em;
}

DIV.group .form_icon {
    height: 2.5em;
    vertical-align: middle;
}

.state_0,
.unknown {
    background: hsl(0, 100%, 100%);
}

.state_1,
.arrived {
    background: hsl(60, 100%, 90%);
}

.state_2,
.finished {
    background: hsl(120, 100%, 90%);
}

.state_0:hover,
.unknown:hover {
    background: hsl(0, 0%, 90%);
}

.state_1:hover,
.arrived:hover {
    background: hsl(60, 100%, 70%);
}

.state_2:hover,
.finished:hover {
    background: hsl(120, 100%, 70%);
}

H1, H2 {
    text-align: center;
}

#contact {
    font-size: x-small;
    text-align: center;
    position: fixed;
    background: #fff;
    bottom: 0;
    right: 0;
    width: 20em;
    height: 3em;
    border-top: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
}

.cancelled {
    text-decoration: line-through;
    color: #aaa;
}

#Matrix {
  border-spacing: 0;
  border-collapse: collapse;
}

#Matrix TD {
  line-height: 2em;
}

#Matrix TD {
    border: 0.1em solid #ccc;
    width: 100%;
    vertical-align: middle;
}

#Matrix THEAD TR.sum TD {
  padding-bottom: 0.5em;
  border-bottom: 3px double #ccf;
}

#Matrix TFOOT TR.sum TD {
  padding-top: 0.5em;
  border-top: 3px double #ccf;
}

#Matrix THEAD TH,
#Matrix TFOOT TD,
#Matrix THEAD TD {
  white-space: nowrap;
}

#Matrix TBODY TR:hover TD {
  background-color: #eee;
}

TD.state {
    text-align: center;
}

#flashes DIV {
    max-width: 10em;
    text-align: center;
    font-weight: bold;
    border: 0.1em solid black;
    margin: 0.2em auto;
}

#flashes DIV.message {
    background: #bfb682; /* Old browsers */
    background: -moz-linear-gradient(top,  hsl(51,32%,63%) 0%, hsl(51,26%,59%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(51,32%,63%)), color-stop(100%,hsl(51,26%,59%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  hsl(51,32%,63%) 0%,hsl(51,26%,59%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  hsl(51,32%,63%) 0%,hsl(51,26%,59%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  hsl(51,32%,63%) 0%,hsl(51,26%,59%) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  hsl(51,32%,63%) 0%,hsl(51,26%,59%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfb682', endColorstr='#b2aa7b',GradientType=0 ); /* IE6-9 */
}

#flashes DIV.error {
    background: #bf8c83; /* Old browsers */
    background: -moz-linear-gradient(top,  hsl(9,32%,63%) 0%, hsl(9,26%,59%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(9,32%,63%)), color-stop(100%,hsl(9,26%,59%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  hsl(9,32%,63%) 0%,hsl(9,26%,59%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  hsl(9,32%,63%) 0%,hsl(9,26%,59%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  hsl(9,32%,63%) 0%,hsl(9,26%,59%) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  hsl(9,32%,63%) 0%,hsl(9,26%,59%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8c83', endColorstr='#b2847c',GradientType=0 ); /* IE6-9 */
}
